<%- include('partials/header') %>

    <div class="headbar">
        <div class="headdiv1"><h1>To-do</h1></div>

        <!-- <ul>
            <li>22</li>
            <li>edhfe</li>
        </ul> -->

    </div>
    <div class = "maindiv-first">
        <h1 class = "welcome-first">Welcome</h1>
        <div class="childdiv1-first">
            <a class=" btn-lg" href="/register" role="button">Register</a>
            <a class=" btn-lg" href="/login" role="button">Login</a>
        </div>

    </div>
<%- include('partials/footer') %>